* {
  margin: 0;
  padding: 0;
}

/* Clear Fix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
/* Clearfix end */

html, body {
  height: 100%;
  font: 20px/30px 'Ubuntu', 'sans-serif';
}

#wrapper {
  height: 100%;
  background: url('../images/bg.jpg') #fbfbfb;
}

header, footer {
  background: url('../images/black-bg.jpg') #1f1f1f;
}

main {
  width: 100%;
}

/* Desktop */
@media all and (min-width: 481px) {
  #wrapper {
    overflow: hidden;
  }

  header, main, footer {
    float: left;
  }

  header {
    width: 100px;
    height: auto !important;
    min-height: 100%;
  }

  main {
    height: 100%;
    margin: 0 -260px 0 -100px;
  }

  main .content {
    height: 100%;
    margin: 0 280px 0 120px;
    position: relative;
  }

  main .content textarea {
    position: absolute;
    background: red;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
  }

  footer {
    width: 260px;
    height: auto !important;
    min-height: 100%;
  }

  footer .logo {
    padding: 20px;
    height: 40px;
    background-position: 140px -200px;
  }
}

/* Mobile */
@media all and (max-width: 480px) {
  header {
    top: 80px;
    margin-top: -80px;
    position: relative;
    height: 80px;
    width: 100%;
  }

  main {
    min-height: 100%;
    margin-top: -80px;
  }

  main .content {
    padding: 100px 20px 200px;
    margin: 80px 0 -180px 0;
  }

  footer {
    height: 180px;
    width: 100%;
  }

  footer .logo {
    padding: 20px;
    height: 40px;
    background-position: 140px -200px;
  }
}

main .content textarea {
  font: 15px/25px Ubuntu;
  background: transparent;
  width: 100%;
  border: 0;
  resize: none;
  outline: none;
  overflow-y: scroll;
}

.logo {
  display: block;
  background: url('../images/sprite.png') no-repeat;
}

header .logo {
  height: 80px;
  width: 80px;
  background-position: -20px 0px;
}

header .logo:hover {
  background-position: -20px -110px;
}
